/* Message Bubbles*/
/* New Messages bubble */
#app-mount .message_ccca67[data-author-self=true] {
  margin-left: auto;
  width: auto;
  padding-left: 48px;
  padding-right: 72px !important;
}

#app-mount .message_ccca67[data-author-self=true] .container__62863 {
  direction: rtl;
}

#app-mount .message_ccca67[data-author-self=true] .contents_d3ae0d {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
}

#app-mount .message_ccca67.selected_e3bc5d[data-author-self=true] .contents_d3ae0d {
  width: 100%;
}

#app-mount .message_ccca67[data-author-self=true] .timestamp_c79dd2 {
  left: unset;
  right: 8px;
}

#app-mount .message_ccca67[data-author-self=true] .repliedMessage__636d2 {
  margin-left: auto;
}

#app-mount .replying__38514[data-author-self=true] .contents_d3ae0d .messageContent_abea64::before,
#app-mount .mentioned_fa6fd2[data-author-self=true] .contents_d3ae0d .messageContent_abea64::before {
  left: unset;
  right: 0;
}

#app-mount .message_ccca67[data-author-self=true] .contents_d3ae0d .messageContent_abea64 {
  margin-left: auto;
}

#app-mount .message_ccca67[data-author-self=true] a:not(.embed_cc6dae .embedAuthorNameLink_dd0d5f) {
  margin-left: auto;
}

#app-mount .message_ccca67[data-author-self=true] .embedAuthor__3e899 {
  direction: ltr;
}

#app-mount .message_ccca67[data-author-self=true] .avatar__08316 {
  left: unset;
  right: 16px;
}

#app-mount .message_ccca67[data-author-self=true] .header__6a14d {
  display: flex;
  flex-direction: row-reverse;
}

#app-mount .message_ccca67[data-author-self=true] .header__6a14d span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount .message_ccca67[data-author-self=true] .repliedMessage__636d2:before {
  display: none;
}

#app-mount .contents_d3ae0d > .messageContent_abea64 {
  overflow: visible;
}

#app-mount .contents_d3ae0d pre {
  max-width: 100%;
}

#app-mount .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--background-secondary) !important;
  padding: 8px;
  margin-left: unset;
  border-radius: 0px;
  width: -moz-fit-content;
  width: fit-content;
}

#app-mount .contents_d3ae0d {
  display: inline-block;
  max-width: 100%;
}

#app-mount .message_ccca67 {
  max-width: 100%;
}

#app-mount .message_ccca67:hover:not(.replying__38514):not(.mentioned_fa6fd2) .contents_d3ae0d .messageContent_abea64,
#app-mount .message_ccca67.selected_e3bc5d:not(.replying__38514):not(.mentioned_fa6fd2) .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--background-secondary-alt);
}

#app-mount .message_ccca67.compact_eda3c8.wrapper_a62503[data-author-self=true] .messageContent_abea64 {
  display: flex;
}

#app-mount .compact_eda3c8.wrapper_a62503 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount .mentioned_fa6fd2.compact_eda3c8 .contents_d3ae0d .messageContent_abea64::before:not([data-author-self=true]) {
  left: 4px;
}

#app-mount .replying__38514.compact_eda3c8 .contents_d3ae0d .messageContent_abea64::before:not([data-author-self=true]) {
  left: 4px;
}

#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--background-mentioned);
}

#app-mount .mentioned_fa6fd2:hover .contents_d3ae0d .messageContent_abea64,
#app-mount .mentioned_fa6fd2.selected_e3bc5d .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--background-mentioned-hover);
}

#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--info-warning-foreground);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

#app-mount .mentioned_fa6fd2:before {
  display: none;
}

#app-mount .repliedMessage__636d2 {
  background-color: var(--background-message-hover);
  margin-bottom: 0;
  padding: 6px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--brand-experiment-05a);
}

#app-mount .replying__38514:hover .contents_d3ae0d .messageContent_abea64,
#app-mount .replying__38514.selected_e3bc5d .contents_d3ae0d .messageContent_abea64 {
  background-color: var(--brand-experiment-10a);
}

#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64::before {
  background-color: var(--brand-experiment);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

.replying__38514:before {
  display: none;
}

.repliedMessage__636d2:before {
  display: none;
}