/* add @ to profile views */
.nameTag-35jqbZ::before {
    content: "@";
    color: var(--header-secondary);
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-right: 1px;
}
/* add @ to profile pop up */
.userTagWithNickname-13lfvd::before {
    content: "@";
    color: var(--header-primary);
    line-height: 18px;
    margin-right: 1px;
}
