/* add @ to profile views */
.nameTag-35jqbZ::before {
    content: "@";
    color: var(--header-secondary);
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-right: 1px;
}
/* add @ to profile pop up */
.userTagWithNickname__1eba9::before {
    content: "@";
    color: var(--header-primary);
    line-height: 18px;
    margin-right: 1px;
}

/* force full about me everywhere */
div[class*="lineClamp2Plus"] {
    display: block;
}
/* Theme developer badge :) */
[class^="userPopoutOuter-"] [class^="profileBadges-"][class*="containerWithContent-"]::after {
    margin: 0 !important;
}
.divider_ed0c1d:hover {
    position: absolute;
    bottom: 955px;
    left: 573px;
}
.layer_ec16dd:has(img[src*="801089753038061669"]) .profileBadges__7a7cb {
    padding-right: 30px;
}

.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 {
    position: relative;
    overflow: visible;
}

.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d {
    width: 22px;
    height: 22px;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    position: absolute;
    inset: -42px 5px auto auto;
    pointer-events: all;
    overflow: visible;
    box-sizing: border-box;
}
.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d:before,
.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d:after {
    pointer-events: none;
}
.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d:before {
    content: "";
    display: flex;
    height: 22px;
    width: 22px;
    background: url("https://raw.githubusercontent.com/Riddim-GLiTCH/Virtual-Boy/main/src/assets/vbbadge.png");
    background-position: center;
    background-size: contain;
    border-radius: 0px;
}
.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d:after {
    content: "Virtual Boy Theme Dev";
    width: max-content;
    height: fit-content;
    color: #ff0000;
    font-size: 16px;
    background-color: black;
    border-radius: 0px;
    padding: 5px 10px;
    position: absolute;
    inset: -35px 0 auto auto;
    opacity: 0;
    transition: opacity 0ms linear;
}
.layer_ec16dd:has(img[src*="801089753038061669"]) .userPopoutOverlayBackground_d8afa4 > .divider_ed0c1d:hover:after {
    opacity: 1;
}
