//Selfmessages. Heavily based on Discord 11's Message bubbles
/* Message Bubbles*/
#app-mount .selfmessage {
    margin-left: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 72px !important;
}

#app-mount .selfmessage .container_dbadf5 {
    direction: rtl;
}

#app-mount .selfmessage .contents_f41bb2 {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 8px;
}
#app-mount .message__80c10.selected_fd9051[data-is-author-self="true"] .contents_f41bb2 {
    width: 100%;
}

#app-mount .selfmessage .timestamp_cdbd93 {
    left: unset;
    right: 8px;
}
#app-mount .selfmessage .repliedMessage_e2bf4a {
    margin-left: auto;
}

#app-mount .replying_d7b6ad[data-is-author-self="true"] .contents_f41bb2 .messageContent__21e69::before,
#app-mount .mentioned__58017[data-is-author-self="true"] .contents_f41bb2 .messageContent__21e69::before {
    left: unset;
    right: 0;
}

#app-mount .selfmessage .contents_f41bb2 .messageContent__21e69 {
    margin-left: auto;
    background-color: black !important;
}
#app-mount .selfmessage a:not(.embed_d3cbe3 .embedAuthorNameLink_b25226) {
    margin-left: auto;
}

#app-mount .selfmessage .embedAuthor_cb4bfc {
    direction: ltr;
}

#app-mount .selfmessage .avatar__08316 {
    left: unset;
    right: 16px;
}

#app-mount .selfmessage .header__39b23 {
    display: flex;
    flex-direction: row-reverse;
}
#app-mount .selfmessage .header__39b23 span {
    margin-left: 0.25rem;
    margin-right: unset;
}

#app-mount .selfmessage .repliedMessage_e2bf4a:before {
    display: none;
}

#app-mount .contents_f41bb2 > .messageContent__21e69 {
    overflow: visible;
}

#app-mount .contents_f41bb2 pre {
    max-width: 100%;
}

#app-mount .contents_f41bb2 .messageContent__21e69 {
    background-color: black !important;
    padding: 8px;
    margin-left: unset;
    border-radius: 0px;
    width: fit-content;
}
#app-mount .contents_f41bb2 {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message__80c10 {
    max-width: 100%;
}
#app-mount .message__80c10:hover:not(.replying_d7b6ad):not(.mentioned__58017) .contents_f41bb2 .messageContent__21e69,
#app-mount .message__80c10.selected_fd9051:not(.replying_d7b6ad):not(.mentioned__58017) .contents_f41bb2 .messageContent__21e69 {
    background-color: black !important;
}

#app-mount .message__80c10.compact__54ecc.wrapper__09ecc[data-is-author-self="true"] .messageContent__21e69 {
    display: flex;
}

#app-mount .compact__54ecc.wrapper__09ecc {
    padding-top: 8px;
    padding-bottom: 8px;
}

#app-mount .mentioned__58017.compact__54ecc .contents_f41bb2 .messageContent__21e69::before:not([data-is-author-self="true"]) {
    left: 4px;
}
#app-mount .replying_d7b6ad.compact__54ecc .contents_f41bb2 .messageContent__21e69::before:not([data-is-author-self="true"]) {
    left: 4px;
}

#app-mount .mentioned__58017 .contents_f41bb2 .messageContent__21e69 {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned__58017:hover .contents_f41bb2 .messageContent__21e69,
#app-mount .mentioned__58017.selected_fd9051 .contents_f41bb2 .messageContent__21e69 {
    background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned__58017 .contents_f41bb2 .messageContent__21e69::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 0;
    z-index: 1;
}
#app-mount .mentioned__58017:before {
    display: none;
}

#app-mount .repliedMessage_e2bf4a {
    background-color: var(--background-message-hover);
    padding: 6px;
    border-radius: 0;
    width: fit-content;
    max-width: 100%;
}

#app-mount .replying_d7b6ad .contents_f41bb2 .messageContent__21e69 {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying_d7b6ad:hover .contents_f41bb2 .messageContent__21e69,
#app-mount .replying_d7b6ad.selected_fd9051 .contents_f41bb2 .messageContent__21e69 {
    background-color: var(--brand-experiment-10a);
}
#app-mount .replying_d7b6ad .contents_f41bb2 .messageContent__21e69::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 0;
    z-index: 1;
}
.replying_d7b6ad:before {
    display: none;
}
.repliedMessage_e2bf4a:before {
    display: none;
}
[class*="markup-"][class*="messageContent-"]:not([class*="repliedTextPreview-"][class*="clickable-"] > div) {
    background: linear-gradient(to right, black, black) !important;
}
