.membersGroup-2eiWxl {
    color: var(--accent) !important;
    background-color: var(--accent-dimmest);
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 2px;
    font-size: 12px;
    height: 2.5vh;
    /*font-weight: bold; Use if your font is too light*/
    text-align: center;
}

.containerDefault-3TQ5YN .overflow-1wOqNV {
    color: var(--accent) !important;
    background-color: var(--accent-dimmest);
    border-radius: 0px;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 6px;
    font-size: 14px;
    /*font-weight: bold; Use if your font is too light*/
    text-align: center;
}
.arrow-2HswgU {
    top: 0px;
    zoom: 125%;
}
