.containerDefault-3TQ5YN .overflow-1wOqNV {
    color: var(--accent) !important;
    background-color: var(--accent-dimmest);
    padding: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.arrow-2HswgU {
    top: 0px;
    zoom: 125%;
}
.containerDefault-3TQ5YN {
    justify-content: center;
}
.children-3MeUvj {
    margin-left: -10px;
    margin-right: -1px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
    [class*="sidebar-"] {
        position: absolute;
        left: -180px;
        transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 2;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        border: 1px solid var(--accent);
        border-width: 2px 2px 2px 2px;
        max-height: 100%;
    }

    [class*="sidebar-"] > [class*="sidebar-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="sidebar-"]:hover > [class*="sidebar-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="sidebar-"]:hover {
        opacity: 100%;
        left: 0;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid var(--accent);
        border-width: 2px 2px 2px 2px;
    }
    main form {
        margin-right: 62px;
    }
}
