.membersGroup__85843 {
    color: var(--accent) !important;
    background-color: var(--accent-dimmest);
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 2px;
    font-size: 12px;
    height: 2.5vh;
    font-weight: bold;
    text-align: center;
}
@media only screen and (max-width: 1080px) {
    [class*="membersWrap"] {
        position: absolute;
        right: -180px;
        transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 1;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid var(--accent);
        border-width: 0 0 2px 2px;
    }

    [class*="membersWrap"] > [class*="members-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="membersWrap"]:hover > [class*="members-"] {
        border-radius: 0 0 0 8px;
    }

    [class*="membersWrap"]:hover {
        opacity: 100%;
        right: 0;
        z-index: 2;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid var(--accent);
        border-width: 2px 2px 2px 2px;
    }
}
