.container_ca50b9 {
    height: auto !important;
    padding: 6px 6px;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0px;
}

.container_ca50b9 > div {
    width: 100%;
}

.container_ca50b9 > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.container_ca50b9:hover > div:nth-child(2) {
    max-height: 32px;
}

.container_ca50b9 > div:nth-child(2) > button {
    width: 100%;
}
.container_d667ff > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.dot__67e1c {
    display: none;
}
.container_d667ff:hover > div:nth-child(2) {
    max-height: 32px;
}

.container_d667ff > div:nth-child(2) > button {
    width: 100%;
    scale: 1.5;
}
/*User Panel*/
.withTagAsButton_cc125f,
.withTagless__98b7d {
    min-width: 212px !important;
}
.container_ca50b9 button {
    margin: 1.1px;
    background: var(--bg-overlay-4, var(--background-primary));
}
.contents_fb6220 {
    padding-right: 7px;
}
