:root {
    --version: "Virtual Boy V1.4.1";
    --background-message-hover: none !important;
    --background-mentioned: none !important;
    --background-mentioned-hover: none !important;
    --background-message-highlight: none !important;
    --brand-experiment-10a: var(--accent-muted);
    --brand-experiment-05a: var(--accent-dimmest);
    --brand-experiment: var(--accent);
    --primary-630-hsl: var(--background-secondary);
    --primary-600: var(--background-primary);
    --activity-card-background: var(--primary-700);
    --android-navigation-bar-background: var(--primary-830);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl) / 0.5);
    --android-ripple: hsl(var(--white-500-hsl) / 0.07);
    --background-accent: var(--accent-muted);
    --background-floating: rgb(5, 5, 5);
    --background-mentioned: var(--accent-dimmest);
    --background-mentioned-hover: var(--accent-muted);
    --background-message-automod: hsl(var(--red-400-hsl) / 0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl) / 0.1);
    --background-message-highlight: var(--accent-muted);
    --background-message-highlight-hover: var(--accent-muted);
    --background-message-hover: var(--accent-muted);
    --background-mobile-primary: var(--primary-600);
    --background-mobile-secondary: var(--primary-630);
    --background-modifier-accent: var(--accent);
    --background-modifier-active: var(--accent-muted);
    --background-modifier-hover: var(--accent-muted);
    --background-modifier-selected: var(--accent-muted);
    --background-nested-floating: rgb(5, 5, 5);
    --background-primary: rgb(0, 0, 0);
    --background-secondary: rgb(2, 2, 2);
    --background-secondary-alt: rgb(3, 3, 3);
    --background-tertiary: rgb(5, 5, 5);
    --black: var(--black-500);
    --border-strong: hsl(var(--white-500-hsl) / 0.16);
    --border-subtle: hsl(var(--white-500-hsl) / 0.08);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl) / 0.6);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl) / 0);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-danger-background: hsl(var(--white-500-hsl) / 0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-positive-background: hsl(var(--white-500-hsl) / 0);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-primary-background: hsl(var(--white-500-hsl) / 0);
    --button-outline-primary-background-active: var(--primary-430);
    --button-outline-primary-background-hover: var(--primary-500);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-border-active: var(--primary-430);
    --button-outline-primary-border-hover: var(--primary-500);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-positive-background: var(--green-430);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-secondary-background: var(--accent);
    --button-secondary-background-active: var(--primary-400);
    --button-secondary-background-disabled: var(--primary-500);
    --button-secondary-background-hover: var(--primary-430);
    --channel-icon: var(--accent);
    --channel-text-area-placeholder: var(--accent);
    --channels-default: var(--accent-muted);
    --channeltextarea-background: rgb(5, 5, 5);
    --chat-background: rgb(0, 0, 0);
    --chat-border: var(--accent);
    --chat-input-container-background: var(--accent-muted);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --deprecated-card-bg: hsl(var(--primary-700-hsl) / 0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl) / 0.3);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl) / 0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl) / 0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-prefix: var(--primary-200);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl) / 0.5);
    --divider-strong: hsl(var(--white-500-hsl) / 0.16);
    --divider-subtle: hsl(var(--white-500-hsl) / 0.08);
    --focus-primary: var(--blue-345);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl) / 0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl) / 0.9);
    --header-primary: var(--accent);
    --header-secondary: var(--accent-muted);
    --home-background: black;
    --home-card-resting-border: hsl(var(--transparent-hsl) / 0);
    --info-box-background: hsl(var(--blue-345-hsl) / 0.1);
    --info-danger-background: hsl(var(--red-400-hsl) / 0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white-500);
    --info-help-background: hsl(var(--blue-345-hsl) / 0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white-500);
    --info-positive-background: hsl(var(--green-360-hsl) / 0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white-500);
    --info-warning-background: var(--accent);
    --info-warning-foreground: var(--accent);
    --info-warning-text: var(--white-500);
    --input-background: var(--primary-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --interactive-active: var(--accent);
    --interactive-hover: var(--accent);
    --interactive-muted: var(--primary-500);
    --interactive-normal: var(--accent);
    --live-stage-tile-border: hsl(var(--primary-500-hsl) / 0.6);
    --logo-primary: var(--white-500);
    --mention-background: var(--accent);
    --mention-foreground: var(--brand-260);
    --modal-background: var(--primary-600);
    --modal-footer-background: var(--primary-630);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl) / 0.48);
    --profile-gradient-note-background: hsl(var(--black-500-hsl) / 0.3);
    --profile-gradient-overlay: hsl(var(--black-500-hsl) / 0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl) / 0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl) / 0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl) / 0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl) / 0.2);
    --profile-gradient-section-box: hsl(var(--black-500-hsl) / 0.45);
    --redesign-activity-card-background: var(--primary-560);
    --redesign-activity-card-background-pressed: var(--primary-630);
    --redesign-button-danger-background: var(--red-430);
    --redesign-button-danger-pressed-background: var(--red-460);
    --redesign-button-danger-text: var(--white-500);
    --redesign-button-floating-background: var(--white-500);
    --redesign-button-floating-pressed-background: var(--primary-730);
    --redesign-button-positive-background: var(--green-430);
    --redesign-button-positive-pressed-background: var(--green-460);
    --redesign-button-positive-text: var(--white-500);
    --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl) / 0);
    --redesign-button-primary-alt-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl) / 0);
    --redesign-button-primary-alt-on-blurple-border: var(--white-500);
    --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
    --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-text: var(--white-500);
    --redesign-button-primary-alt-pressed-background: hsl(var(--brand-500-hsl) / 0.08);
    --redesign-button-primary-alt-pressed-border: var(--brand-330);
    --redesign-button-primary-alt-pressed-text: var(--brand-330);
    --redesign-button-primary-alt-text: var(--brand-360);
    --redesign-button-primary-background: var(--brand-500);
    --redesign-button-primary-on-blurple-background: var(--white-500);
    --redesign-button-primary-on-blurple-pressed-background: var(--brand-200);
    --redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
    --redesign-button-primary-on-blurple-text: var(--brand-500);
    --redesign-button-primary-pressed-background: var(--brand-560);
    --redesign-button-primary-text: var(--white-500);
    --redesign-button-secondary-alt-background: var(--primary-530);
    --redesign-button-secondary-alt-border: var(--primary-530);
    --redesign-button-secondary-alt-pressed-background: var(--primary-560);
    --redesign-button-secondary-alt-pressed-border: var(--primary-560);
    --redesign-button-secondary-background: var(--primary-500);
    --redesign-button-secondary-border: var(--primary-500);
    --redesign-button-secondary-pressed-background: var(--primary-530);
    --redesign-button-secondary-text: var(--white-500);
    --redesign-only-background-active: var(--primary-530);
    --redesign-only-background-default: var(--primary-700);
    --redesign-only-background-overlay: var(--primary-600);
    --redesign-only-background-raised: var(--primary-630);
    --redesign-only-background-sunken: var(--primary-800);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --scrollbar-auto-thumb: var(--accent);
    --scrollbar-auto-track: var(--accent-muted);
    --scrollbar-thin-thumb: var(--primary-730);
    --scrollbar-thin-track: hsl(var(--black-500-hsl) / 0);
    --spoiler-hidden-background: var(--primary-700);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger: var(--red-400);
    --status-danger-background: var(--red-400);
    --status-danger-text: var(--white-500);
    --status-dnd: var(--red-400);
    --status-idle: var(--yellow-300);
    --status-offline: var(--primary-360);
    --status-online: var(--green-360);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black-500);
    --text-brand: var(--brand-360);
    --text-danger: var(--red-345);
    --text-link: var(--brand-500);
    --text-link-low-saturation: var(--accent-muted);
    --text-muted: var(--accent-muted);
    --text-normal: var(--accent);
    --text-positive: var(--green-330);
    --text-warning: var(--yellow-300);
    --textbox-markdown-syntax: var(--primary-360);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl) / 0.5);

    --sign-text: var(--version);
    --sign-color: var(--accent-muted);
    text-shadow: 0 0 3px var(--accent);

    --brand-500-hsl: var(--VBaccent);
    --brand-700-hsl: var(--VBaccent-muted);
    --brand-800-hsl: var(--VBaccent-dimmest);

    --accent: hsl(var(--brand-500-hsl));
    --accent-muted: hsl(var(--brand-700-hsl));
    --accent-dimmest: hsl(var(--brand-800-hsl));
    /*
      * Spacing
      */
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
    /*
      * Widths
      */
    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
    /*
      * Shape
      */
    --rs-avatar-shape: 0%; /* 50% for round - 0% for square */
    /*
      * Colours
      */
    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-self-speaking-color: #57d39b; /* Colour for speaking ring in the bottom left while in a voice chat/call */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone  */
    /*
      * Others
      */
    --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
