/* Comment out this line to disable message boxes */
@import url("https://riddim-glitch.github.io/Virtual-Boy/MessageBoxes.css");

:root {
    /* Don't like the colors? Change these HSL variables! */
    --VBaccent: 0 100% 50%;
    --VBaccent-muted: 0 100% 39.2%;
    --VBaccent-dimmest: 0 100% 17.6%;
    --text-shadow-size: 1px; /*Default: 1px*/
}
