/* Comment out this line to disable message boxes */
 @import url("https://riddim-glitch.github.io/Virtual-Boy/MessageBoxes.css");

:root {
    /* Don't like the colors? Change these variables! */
    --accent: rgb(255, 0, 0);
    --accent-muted: rgb(124, 0, 0);
    --accent-dimmest: rgb(59, 0, 0);
    --text-shadow-size: 0px;
    /* End of user editable variables. Proceed past this point with caution! */
}
