/* ----- Aligned Chatbox ----- */
/* align edges of chatbox to sides */
:is(main, section)[class^="chatContent"] > form {
    padding: 0px;
}

/* align chatbox to bottom */
:is(main, section)[class^="chatContent"] > form > *:first-child {
    margin-bottom: 0px;
}

/* center chatbox contents, no border radius */
:is(main, section)[class^="chatContent"] > form > *:first-child > * {
    padding-top: 4px;
    min-height: 49px;
    border-radius: 0px;
}

// Autocomplete
.theme-dark .autocomplete-3NRXG8 {
    background-color: rgb(8, 8, 8);
}

/* slowmode/typing indicator */
:is(main, section)[class^="chatContent"] > form > *:last-child[class^="typing"] {
    top: -24px;
    right: 0px;
    margin-left: auto;
    width: fit-content;
    padding-left: 2px;
    padding-right: 9px;
    border-top-left-radius: 0px;
    background-color: var(--channeltextarea-background);
}

/* Fix replies */
main[class^="chatContent"] > form > * > [class^="attachedBars"] {
    min-height: unset !important;
    padding-bottom: 4px;
}
/* Hide gift button */
.buttons-uaqb-5 > .button-ejjZWC {
    display: none;
}
.contentWrapper-3vHNP2 {
    background-color: black;
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    grid-template-rows: 24px auto;
    grid-row-gap: 8px;
    height: 100%;
    overflow: hidden;
    padding-top: 16px;
    position: relative;
    z-index: 1;
}
