/* Reduced enhanced markdown margins */
[class^="message"] [id^="message-content"] :is(h1, h2, h3, li) {
    margin: 0px;
}
[class^="message"] [id^="message-content"] :is(ol, ul) {
    margin-top: 0px;
    margin-left: 35px;
}
/* Fix headings */
/* fix markdown styles */
[class*=markup-] h1 {
    font-size: 200% !important;
}
[class*=markup-] h2 {
    font-size: 150% !important;
}
[class*=markup-] h3 {
    font-size: 130% !important;
}