#app-mount
    > div.typeWindows__5fa63.withFrame__485f4.titleBar__01af6.horizontalReverse_e078f3.flex__909d4.directionRowReverse__9f91b.justifyStart__42744.alignStretch_e239ef {
    line-height: 30px;
    align-items: center;
    height: 30px;
    top: 0px;
    margin-top: 0px;
}

.winButton__88672 {
    height: 30px;
    width: 46px;
    top: 0px;
}
