#app-mount
    > div.typeWindows-2-g3UY.withFrame-2dL45i.titleBar-1it3bQ.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr {
    line-height: 30px;
    align-items: center;
    height: 30px;
    top: 0px;
    margin-top: 0px;
}

.winButton-3UMjdg {
    height: 30px;
    width: 46px;
    top: 0px;
}
