.wordmarkWindows-2dq6rw svg {
    display: none;
}
.wordmarkWindows-2dq6rw::after {
    content: var(--version);
    display: block;
    position: relative;
    width: auto;
    height: auto;
    line-height: auto;
    font-family: var(--font-display);
    font-weight: 600;
    font-size: 25px;
    color: var(--accent);
}
html:has(#activeColorway:not(:empty)) .wordmarkWindows-2dq6rw::after {
    content: var(--version) " + Colorways";
}
